<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Function List</h5>
      </div>

      <ejs-treegrid #treeGrid [dataSource]='data' [toolbar]='toolbarOptions' [treeColumnIndex]='1'
        [editSettings]='editSettingsTree' childMapping='entity.childNodes' (actionComplete)="actionComplete($event)"
        (created)='created()' [allowPaging]='true' [pageSettings]='pageSettings' (actionBegin)="actionBegin($event)"
        gridLines='Both' (rowSelected)="rowSelected($event)">
        <e-columns>

          <e-column field='id' headerText='#' width='70' textAlign='Center' isPrimaryKey='true'>
            <ng-template #template let-data>
              {{NO(data.index)}}
            </ng-template>
          </e-column>

          <e-column field='entity.name' headerText='Function Name' width='200' textAlign='Center'>
          </e-column>
        </e-columns>
      </ejs-treegrid>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Action List</h5>
      </div>

      <ejs-grid #ejsGrid [dataSource]='actionData' gridLines='Both' >
        <e-columns>
          <e-column field='#' width='50'>
            <ng-template #template let-data>
              <ejs-checkbox (change)='checkBoxChange($event, data)' [(ngModel)]="data.status"></ejs-checkbox>
            </ng-template>
          </e-column>

          <e-column field='name' headerText='Action Name' width='200' textAlign='Center'>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
  </div>
</div>
