 /* .e-grid td.e-active {
        background: #6597ce!important;
        color: #000;
    } */
.active-btn {
    background-color: #00000073 !important;
    color: white !important;
}
  .bgcolor td{
      background-color: #fa7c7c;
    }