
.e-grid .e-altrow
 { 
    background-color: #d6d8db; 
} 
/* Custome Overtime */

.e-switch-wrapper.custom-overtime .e-switch-inner.e-switch-active,
.e-switch-wrapper.custom-overtime .e-switch-inner.e-switch-active .e-switch-on,
.e-switch-wrapper.custom-overtime:hover .e-switch-inner.e-switch-active .e-switch-on {
  background-color:#ffc107!important;
  border-color: #ffc107!important;
  color: black;
  font-weight: 500;
  font-size: 10px;
}


.e-switch-wrapper.custom-overtime {
  width: 42px;
  height: 24px;
}

.e-switch-wrapper.custom-overtime .e-switch-handle {
  width: 20px;
  height: 20px;
}

.e-switch-wrapper.custom-overtime .e-switch-handle.e-switch-active {
  margin-left: -22px;
}
