<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Module List</h5>
      </div>
      <ejs-treegrid #treeGrid [dataSource]="data" [toolbar]="toolbarOptions" [treeColumnIndex]="1"
        [editSettings]="editSettingsTree" childMapping="childNodes" (actionComplete)="actionComplete($event)"
        (created)="created()" [allowPaging]="true" [pageSettings]="pageSettings" (actionBegin)="actionBegin($event)"
        gridLines="Both" (rowSelected)="rowSelected($event)"
        (queryCellInfo)="queryCellInfoEvent($event)"
        >
        <e-columns>

          <e-column field="id" headerText="#" width="70" textAlign="Center" isPrimaryKey="true">
            <ng-template #template let-data>
              {{NO(data.index)}}
            </ng-template>
          </e-column>
          <e-column field="name" headerText="Module Name" width="200" textAlign="Center">
          </e-column>
          <e-column field="icon" headerText="Icon" width="200" textAlign="Center">
            <ng-template #template let-data>
              <i class="font-2xl" [class]="data.icon"></i>
            </ng-template>
          </e-column>
          <e-column field="url" headerText="Url" width="200" textAlign="Center">
          </e-column>

          <e-column field="sequence" headerText="Sequence" width="100" textAlign="Center">
          </e-column>

          <e-column field="languageID" headerText="Language" width="200" textAlign="Center">
              <ng-template #editTemplate let-data>
                <ejs-dropdownlist #langDropdownlist [dataSource]="languages" [value]="data.languageID" [fields]="fields"
                  [allowFiltering]="true" (change)="onChange($event)">
                </ejs-dropdownlist>
              </ng-template>
              <ng-template #template let-data>
                {{getLang(data.languageID)}}
              </ng-template>
          </e-column>

        </e-columns>
      </ejs-treegrid>
    </div>
  </div>
</div>
