<div class="row">
  <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">{{title}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
          <div class="card-body">
            <div class="form-group">
              <label for="Version">Version</label>
              <input type="text" class="form-control" [(ngModel)]="name" id="Version" placeholder="Enter version">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Description</label>
              <ckeditor id='editor' [(ngModel)]='description' [editor]="editor" [config]="config" ></ckeditor>
            </div>
              <div class="form-group">
                <label for="uploadBy">Upload by</label>
                <input type="text" class="form-control" [(ngModel)]="uploadBy" id="uploadBy" placeholder="Enter upload by">
              </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button class="btn btn-primary" [class.mr-2]='isEdit' (click)='save()'>Save</button>
            <button class="btn btn-primary mx-2" *ngIf="isEdit == false" (click)='reset()'>Reset</button>
            <button class="btn btn-primary"  (click)='back()'>Back</button>
          </div>
      </div>
  </div>
</div>
