.e-frame.e-icons.e-check,
.e-frame.e-icons.e-stop,
.e-frame.e-icons  {
    border: 1px solid !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: 'e-icons' !important;
    height: 20px !important;
    line-height: 20px !important;
    padding: 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
    width: 20px !important;
    font-size: 12px!important;
}
